<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RetrievingData.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=LAPTOP-2M5MKTU9;Initial Catalog=AdventureWorks;User ID=sa;Password=Baksobakar123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>